@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link" href="/assetinfo/index" data-path="index">资产数据</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/assetinfo/category" data-path="category">资产类别</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/assetinfo/assetsource" data-path="source">资产来源</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/assetinfo/assetstatus" data-path="state">资产状况</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/assetinfo/region" data-path="region">所属地区</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/assetinfo/storage" data-path="storage">存放位置</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/assetinfo/department" data-path="department">部门管理</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/assetinfo/member" data-path="member">人员管理</a>
            </li>
            <!--
            <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
            </li>
            -->
        </ul>