@using AssetManagment.Application.Asset
@using AssetManagment.Core.Entities

@inject IAssetService assetService;
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = ViewBag.Description;
}


<div class="row flex-xl-nowrap">
    <aside class="card bd-sidebar col-md-3 col-xl-2  py-md-3 pl-md-5">
        <partial name="_AssetNavList.cshtml"></partial>
    </aside>
    <main class="bd-main col-md-9 col-xl-10 py-md-3 pl-md-5">
    <div class="card p-3 mb-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
    </div>
    <div class="control-panel card mb-2">
        <div class="card p-3">
            <div class="row">
                <div class="form-item  col-md-4">
                    <input type="text" placeholder="编码" class="form-control"/>
                </div>
                <div class="form-item col-md-4">
                    <input type="text" placeholder="名称" class="form-control"/>
                </div>
                <div class="form-item col-md-1">
                    <button type="button" class="form-control btn btn-primary">查询</button>
                </div>
                <div class="form-item col-md-1">
                    <button type="button" class="form-control btn btn-light">重置</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-3">
        <div class="container-fluid mb-2">
            <div class="row flex-nowrap">
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addCategoryModal">新增</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-light">批量删除</button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <table class="table">
            </table>
        </div>
        
    </div>
</main>
</div>



<!--新增弹窗 start-->
<div class="modal fade" tabindex="-1" id="addCategoryModal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">新增资产类别</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row flex-nowrap mb-2">
                <div class="col-auto">
                    <div class="form-group">
                        <label>编码</label>
                        <input type="text" class="form-control"/>
                    </div>
                   
                </div>
                <div class="col-auto">
                     <div class="form-group">
                        <label>名称</label>
                        <input type="text" class="form-control"/>
                    </div>
                
                </div>
               
            </div>
            <div class="row">
                 <div class="col">
                    <div class="form-group">
                        <label>备注</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="insertInfoBtn">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div></div>
<!--新增弹窗 end-->

<script src="/assetinfo/js/assetsource.js"></script>
